<div id="<%= dom_id dept_emp %>">
  <p>
    <strong>Emp no:</strong>
    <%= dept_emp.emp_no %>
  </p>

  <p>
    <strong>Dept no:</strong>
    <%= dept_emp.dept_no %>
  </p>

  <p>
    <strong>From date:</strong>
    <%= dept_emp.from_date %>
  </p>

  <p>
    <strong>To date:</strong>
    <%= dept_emp.to_date %>
  </p>

</div>
