<%= form_with(model: dept_emp) do |form| %>
  <% if dept_emp.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(dept_emp.errors.count, "error") %> prohibited this dept_emp from being saved:</h2>

      <ul>
        <% dept_emp.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-layout mb-3 form-bg">
  <div style="margin-bottom: -28px;">
    <%= form.label :emp_no, style: "display: block",class:"form-label" %>
    <%= form.number_field :emp_no,class:"form-control" %>
  </div>

   <div style="margin-bottom: -28px;">
    <%= form.label :dept_no, style: "display: block",class:"form-label" %>
    <%= form.text_field :dept_no,class:"form-control" %>
  </div>

   <div style="margin-bottom: -28px;">
    <%= form.label :from_date, style: "display: block",class:"form-label" %>
    <%= form.date_field :from_date,class:"form-control" %>
  </div>

   <div style="margin-bottom: -28px;">
    <%= form.label :to_date, style: "display: block",class:"form-label" %>
    <%= form.date_field :to_date,class:"form-control" %>
  </div>

 <div style="margin-bottom: -28px; margin-top:25px"  >
    <%= form.submit %>
     <%= link_to "Back to dept emps", dept_emps_path,class:"btn btn-secondary btns" %>
  </div>
  </div>
<% end %>
