<p style="color: green"><%= notice %></p>

<h1 style="text-align:center; color:navy;">Dept emps</h1>

<div id="dept_managers" style="background-color: bisque;" >
  <% @dept_emps.each do |dept_emp| %>
   <div style="border-bottom: double;">
    <%= render dept_emp %>
    <p>
      <%= link_to "Show this dept emp", dept_emp,class:"btn btn-info btns" %>
    </p>
  <% end %>
</div>

<%= link_to "Add +", new_dept_emp_path,class:"btn btn-success btns" %>
  <%= link_to "Back to employees", employees_path,class:"btn btn-secondary" %>
