<p style="color: green"><%= notice %></p>

<%= render @dept_emp %>

<div>
  <%= link_to "Edit this dept emp", edit_dept_emp_path(@dept_emp) %> |
  <%= link_to "Back to dept emps", dept_emps_path %>

  <%= button_to "Destroy this dept emp", @dept_emp, method: :delete %>
</div>
