<%= form_with(model: employee) do |form| %>
  <% if employee.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-layout mb-3 form-bg">
  <div style="margin-bottom: -28px;">
    <%= form.label :emp_no, style: "display: block" ,class:"form-label" %>
    <%= form.number_field :emp_no, class:"form-control"%>
  </div>

  <div style="margin-bottom: -28px;">
    <%= form.label :birth_date, style: "display: block",class:"form-label" %>
    <%= form.date_field :birth_date ,class:"form-control"%>
  </div>

  <div style="margin-bottom: -28px;">
    <%= form.label :first_name, style: "display: block",class:"form-label" %>
    <%= form.text_field :first_name,class:"form-control" %>
  </div>

  <div style="margin-bottom: -28px;">
    <%= form.label :last_name, style: "display: block",class:"form-label" %>
    <%= form.text_field :last_name,class:"form-control" %>
  </div>

  <div style="margin-bottom: -28px;">
    <%= form.label :gender, style: "display: block",class:"form-label" %>
    <%= form.text_field :gender,class:"form-control" %>
  </div>

  <div style="margin-bottom: -28px;">
    <%= form.label :hire_date, style: "display: block",class:"form-label" %>
    <%= form.date_field :hire_date,class:"form-control" %>
  </div>

  <div style="margin-bottom: -28px; margin-top:25px"  >
    <%= form.submit %>
    <%= link_to "Back to employees", employees_path, class:"btn btn-secondary btns" %>
  </div>

  <div>
  
</div>
  </div>
<% end %>
