<p style="color: green"><%= notice %></p>
<div style="background-color: bisque; width:500px; margin-left: 500px;" >
<%= render @employee %>

<div>
  <%= link_to "Edit", edit_employee_path(@employee),class:"btn btn-primary" %> |
  <%= link_to "Back to employees", employees_path,class:"btn btn-secondary" %>

  <%= button_to "Destroy this employee", @employee, method: :delete,class:"btn btn-danger" %>
</div>
</div>
