<%= form_with(model: department) do |form| %>
  <% if department.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
        <% department.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <div class="form-layout mb-3 form-bg">
  <div style="margin-bottom: -28px;">
    <%= form.label :dept_no, style: "display: block",class:"form-label" %>
    <%= form.number_field :dept_no,class:"form-control"  %>
  </div>

  <div>
    <%= form.label :dept_name, style: "display: block",class:"form-label" %>
    <%= form.text_field :dept_name,class:"form-control"  %>
  </div>

  <div>
    <%= form.label :string, style: "display: block",class:"form-label" %>
    <%= form.text_field :string ,class:"form-control" %>
  </div>

  <div>
    <%= form.submit %>
    <%= link_to "Back to departments", departments_path,class:"btn btn-secondary btns" %>
  </div>
  </div>
<% end %>
