<div id="<%= dom_id dept_manager %>">
  <p>
    <strong>Dept no:</strong>
    <%= dept_manager.dept_no %>
  </p>

  <p>
    <strong>Emp no:</strong>
    <%= dept_manager.emp_no %>
  </p>

  <p>
    <strong>From date:</strong>
    <%= dept_manager.from_date %>
  </p>

  <p>
    <strong>To date:</strong>
    <%= dept_manager.to_date %>
  </p>

</div>
