<div id="<%= dom_id salary %>">
  <p>
    <strong>Emp no:</strong>
    <%= salary.emp_no %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= salary.salary %>
  </p>

  <p>
    <strong>From date:</strong>
    <%= salary.from_date %>
  </p>

  <p>
    <strong>To date:</strong>
    <%= salary.to_date %>
  </p>

</div>
