<%= form_with(model: title) do |form| %>
  <% if title.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(title.errors.count, "error") %> prohibited this title from being saved:</h2>

      <ul>
        <% title.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-layout mb-3 form-bg">
  <div style="margin-bottom: -28px;">
    <%= form.label :emp_no, style: "display: block",class:"form-label" %>
    <%= form.number_field :emp_no, class:"form-control" %>
  </div>

  <div style="margin-bottom: -28px;">
    <%= form.label :title, style: "display: block",class:"form-label"  %>
    <%= form.text_field :title , class:"form-control" %>
  </div>

  <div style="margin-bottom: -28px;">
    <%= form.label :from_date, style: "display: block",class:"form-label"  %>
    <%= form.date_field :from_date, class:"form-control" %>
  </div>

 <div style="margin-bottom: -28px;">
    <%= form.label :to_date, style: "display: block",class:"form-label"  %>
    <%= form.date_field :to_date, class:"form-control" %>
  </div>

<div style="margin-bottom: -28px; margin-top:25px"  >
    <%= form.submit %>
    <%= link_to "Back to titles", titles_path,class:"btn btn-secondary"%>
  </div>

  </div>
<% end %>
